<div class="container">
    <h1>Enviar SNS</h1>
    <hr />
    <form method="post">
        <input type="text" name="num" class="form-control mb-3"/>
        <button class="btn btn-outline-info mb-3">Enviar SNS</button>
    </form>
</div>